* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 14px;
}

h2 {
  font-size: 12px;
  margin-top: 10px;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputs {
  display: grid;
}

.botones {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.botones button {
  padding: 6px;
}